# MBD-001 Media-Server / Tailscale
MBD_HOST=0.0.0.0
MBD_PORT=8780
MBD_HVRT_ORIGIN=http://127.0.0.1:8788
# When Desktop Ask historian is running:
# MBD_ASK_ORIGIN=http://127.0.0.1:8787
MBD_OLLAMA_BASE=http://192.168.4.39:11434
# MBD_DEMONSTRATOR_DB=C:\memorybox\database\mbd_demonstrator.sqlite
